/* FONTS */

@import url('https://fonts.googleapis.com/css2?family=Tilt+Neon&display=swap');

/*** GENERAL ***/

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  font-family: 'Tilt Neon', cursive;
  background-image: linear-gradient(to bottom right, #ff6b6c, #ffc145);
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  height: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem 5rem;
}

@media only screen and (max-width: 650px) {
  body {
    padding: 0;
  }
}

p {
  font-size: 300px;
}

button {
  background-color: #ffc145;
  font-weight: bold;
  font-size: large;
  padding: 8px 15px;
  border-radius: 25px;
  border: solid 2px #ff6b6c;
  box-shadow: 0px 5px 15px gray;
  transition: all 0.2s;
  cursor: pointer;
}

button:hover {
  background-color: #daa53b;
  border-color: #b44a4a;
}

button:active {
  margin-top: 5px;
  margin-bottom: -5px;
  box-shadow: 0px 1px 5px gray;
}

.hidden {
  display: none !important;
}

/*** MAIN ***/

main {
  background-color: #fffffb;
  width: 100%;
  height: fit-content;
  border-radius: 25px;
  box-shadow: 5px 5px 25px #926e27;
  padding: 2rem;
}

@media only screen and (max-width: 650px) {
  main {
    border-radius: 0;
  }
}

/* MENU AND TITLE */

@media only screen and (max-width: 450px) {
  #title {
    margin-bottom: 1rem;
  }
}

.menu {
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;
  align-items: center;
  justify-content: space-between;
  height: fit-content;
  gap: 1rem;
}

#title {
  margin-bottom: 1.5rem;
  text-align: center;
}

/* CARDS SELECTOR */

.select-cards {
  text-align: center;
  width: 80%;
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.choose-cards-n-buttons-container {
  display: grid;
  gap: 1.5rem;
  margin: 1rem 0;
}

/* SCORE */

.score-section {
  width: 80%;
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  position: relative;
}

.score {
  display: inline;
}

.timer {
  display: block;
  position: relative;
  min-width: 110px;
  min-height: 20px;
}

.seconds,
.minutes {
  position: absolute;
  display: inline;
  top: 0;
}

.seconds {
  right: 0;
}

.minutes {
  left: 0;
}

/* CARD GRID */

.card-grid {
  display: grid;
  gap: 3rem;
  grid-template-columns: repeat(auto-fit, minmax(6rem, 1fr));
  grid-template-rows: repeat(auto-fit, minmax(8rem, 1fr));
  grid-auto-flow: row;
  grid-auto-rows: minmax(8rem, 1fr);
}

/* MODAL */

.modal-overlay {
  position: fixed;
  background-color: black;
  opacity: 40%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  z-index: 1;
}

.modal {
  position: absolute;
  opacity: 100%;
  background-color: #fffffb;
  z-index: 2;
  top: 0;
  left: 0;
  right: 0;
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  row-gap: 2rem;
  animation-name: fadein;
  animation-duration: 1s;
}

@media only screen and (max-width: 450px) {
  .modal {
    height: 100%;
    animation: none;
  }
}

@keyframes fadein {
  from {
    opacity: 20%;
    top: -100%;
  }
  to {
    opacity: 100%;
    top: 0;
  }
}
